@use "../util/" as u;

.projects {
  width: 100%;
  max-width: u.rem(1024);
  margin-inline: auto;
  margin-block-start: u.rem(60);
  text-align: center;

  @include u.breakpoint(large) {
    margin-block-start: u.rem(100);
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(250px, auto);
    gap: 1rem;
    margin-block: 3rem;

    .project {
      background-position: center;
      background-size: cover;
      border-radius: 0.5rem;
      transition: 0.4s ease-in-out;
      text-align: left;

      &:hover {
        transform: scale(1.05);
        box-shadow: inset 0 100px 1000px 10px rgba(0, 0, 0, 0.8);
      }

      &__info {
        display: flex;
        justify-content: space-between;
        min-height: 100%;
        padding: 1rem;
        color: var(--text-white);
        opacity: 0;
        text-decoration: none;

        &:hover {
          opacity: 1;
        }
      }

      &__bio {
        align-self: flex-end;
      }
      &__link {
        display: flex;
        cursor: pointer;
      }
    }

    & > :nth-child(1) {
      background: url("/assets/project/project-one.png") center center/cover;
    }
    & > :nth-child(2) {
      background: url("/assets/project/project-two.png") center center/cover;
    }
    & > :nth-child(3) {
      background: url("/assets/project/project-three.png") center center/cover;
    }
    & > :nth-child(4) {
      background: url("/assets/project/project-four.png") center center/cover;
    }
    & > :nth-child(5) {
      background: url("/assets/project/project-five.png") center center/cover;
    }
    & > :nth-child(6) {
      background: url("/assets/project/project-six.png") center center/cover;
    }
    & > :nth-child(7) {
      background: url("/assets/project/project-seven.png") center center/cover;
    }
    & > :nth-child(8) {
      background: url("/assets/project/project-eight.png") center center/cover;
    }
    & > :nth-child(9) {
      background: url("/assets/project/project-nine.png") center center/cover;
    }
  }
}
