:root {
  /* Colors */
  --primary-color: #ffcd42;
  --secondary-color: #ffd35c;
  --bg-primary: #ffffff;
  --text-black: #222222;
  --text-white: #ffffff;
  --bg-secondary: #000000;
  --card-background: #f4f4f4;
  --bg-secondary-two: #111111;

  --shadow: 0 10px 40px rgba(0, 0, 0, 0.2);

  [data-theme="dark"] {
    --primary-color: #ffcd42;
    --secondary-color: #ffd35c;
    --bg-primary: #000000;
    --text-color: #ffffff;
    --text-color-two: #222222;
    --bg-secondary: #ffffff;
    --card-background: #111111;
    --bg-secondary-two: #f4f4f4;
    --shadow: 0 2px 10px rgba(95, 95, 95, 0.2);
  }
}
